auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=true
node-linker=hoisted
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=60000
fetch-timeout=60000
PRISMA_SKIP_POSTINSTALL_GENERATE=true

